.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 200px;
  gap: 24px;
  border: 1px solid black;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
  border-radius: 16px;
  padding: 24px;
}

.top {
  font-weight: bold;
  font-size: 16px;
}

.bottom .title {
  font-size: 13px;
  color: red;
}

.bottom .overview {
  font-size: 12px;
  color: blue;
}

.bottom .vote_average {
  font-size: 12px;
  color: blue;
}

.wrap {
  display: flex;
  flex-direction: row;
}
